body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.9;
  }
  header {
    background:linear-gradient(90deg, rgba(160, 32, 240, 0.388) 0%, rgba(160, 32, 240, 0.388) 44%, rgba(205, 5, 216, 0.388) 110%); 
    border:solid;
    border-color: transparent;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 80%;
    margin-top: 10px;
    margin-left: 110px;

  } 
  .se {
    background: linear-gradient(90deg, rgba(161,32,240,1) 0%, rgba(161,32,240,1) 44%, rgb(206, 5, 216) 100%) !important;
    min-height: 100vh; 
  }
  
  

  header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-right: 350px;
    gap: 15px;
 
    
  }
  
  header nav ul li {
    margin-left: 20px;
    
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    
    
  }
  header nav ul li :hover{
    text-decoration: underline;
      
    }
  .custom-shape-divider-bottom-1735763474 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1735763474 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 109px;
}

.custom-shape-divider-bottom-1735763474 .shape-fill {
    fill: #ffffff;
}
h2{
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: bold;
  font-family: georgia,sans-serif ;
	letter-spacing: 2px;
  word-spacing: 1px;
}
/*h2::before{
  content: "WELCOM TO MY PORTFOLIO";
  position: absolute;
  width: 0px;
  height: 100%;
  overflow: hidden;
  color: #a200dd;
  transition: 2s ;
}
h2:hover::before{
  width: 100%;
  border-right: 2px solid #23255e;
  transition: 2s ease-in-out;
}*/
.imga{
  position: absolute;
  top: 20%;
  left: 65%;
  width: 30%;
}
h3{
  position: absolute;
  top: 48%;
  left: 36%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
	letter-spacing: 2px;
  word-spacing: 1px;
}
h1{
  text-align: center;
  background-image:linear-gradient(90deg, rgba(161,32,240,1) 0%, rgba(161,32,240,1) 44%, rgb(206, 5, 216) 100%);
  color: transparent;
  background-clip: text;
  font-size: 50px;
  font-weight: bold;
  font-family: georgia,sans-serif ;
  text-decoration: underline ;
  text-decoration-color:rgba(178, 2, 178, 0.563) ;
	letter-spacing: 2px;
}
.threed{
width: 30%;
}
.service{
  position: absolute;
  top: 150%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.service h4{
  text-align: center;
  font-size: 50px;
  margin-bottom: 1px;
  margin-top: 300px;
  background-image:linear-gradient(90deg, rgba(161,32,240,1) 0%, rgba(161,32,240,1) 44%, rgb(206, 5, 216) 100%);
  color: transparent;
  background-clip: text;
}
p{
  font-size: 25px;
}
.imgd{
  width: 40%;
  margin-left: 60%;
}
.servicee{
    position: absolute;
    top: 280%;
    left: 35%;
    transform: translate(-50%, -50%);
}
.servicee h4{
  text-align: center;
  font-size: 50px;
  margin-bottom: 1px;
  margin-top:;
  background-image:linear-gradient(90deg, rgba(161,32,240,1) 0%, rgba(161,32,240,1) 44%, rgb(206, 5, 216) 100%);
  color: transparent;
  background-clip: text;
} 
.des{
  width: 40%;
}
.serviceee{
  position: absolute;
  top: 400%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.serviceee h4{
  text-align: center;
  font-size: 50px;
  margin-bottom: 1px;
  margin-top:;
  background-image:linear-gradient(90deg, rgba(161,32,240,1) 0%, rgba(161,32,240,1) 44%, rgb(206, 5, 216) 100%);
  color: transparent;
  background-clip: text;
} 
.custom-shape-divider-top-1735825532 {
  position: absolute;
  top: 448%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1735825532 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1735825532 .shape-fill {
  fill: #ffffff;
}
.wave{
  background: linear-gradient(90deg, rgba(161,32,240,1) 0%, rgba(161,32,240,1) 44%, rgb(206, 5, 216) 100%) !important;
  min-height: 100vh;
}